In [2]:
import pandas as pd
#import API Banco Central do Brasil
import sgs

In [3]:
# code of the time series desired on source
IPCA_Code = 433

In [14]:
# import the time series using the API, it already comes as a pandas series
ipca_ts = sgs.time_serie(IPCA_Code,start='',end='')

In [5]:
# transform the series in a DataFrame
df = pd.DataFrame(data=ipca_ts)

In [6]:
# reset the index, because the API brings the information with de date as the index
df = df.rename_axis('index').reset_index()

In [7]:
# rename the columns to Date and Values
df = df.rename(columns = {'index':'Date', 433:'% Values'})

In [10]:
df.tail(20)

          Date  % Values
476 2019-09-01     -0.04
477 2019-10-01      0.10
478 2019-11-01      0.51
479 2019-12-01      1.15
480 2020-01-01      0.21
481 2020-02-01      0.25
482 2020-03-01      0.07
483 2020-04-01     -0.31
484 2020-05-01     -0.38
485 2020-06-01      0.26
486 2020-07-01      0.36
487 2020-08-01      0.24
488 2020-09-01      0.64
489 2020-10-01      0.86
490 2020-11-01      0.89
491 2020-12-01      1.35
492 2021-01-01      0.25
493 2021-02-01      0.86
494 2021-03-01      0.93
495 2021-04-01      0.31

In [12]:
df.head(20)

         Date  % Values
0  1980-01-01      6.62
1  1980-02-01      4.62
2  1980-03-01      6.04
3  1980-04-01      5.29
4  1980-05-01      5.70
5  1980-06-01      5.31
6  1980-07-01      5.55
7  1980-08-01      4.95
8  1980-09-01      4.23
9  1980-10-01      9.48
10 1980-11-01      6.67
11 1980-12-01      6.61
12 1981-01-01      6.84
13 1981-02-01      6.40
14 1981-03-01      4.97
15 1981-04-01      6.46
16 1981-05-01      5.56
17 1981-06-01      5.52
18 1981-07-01      6.26
19 1981-08-01      5.50