In [2]:
import pandas as pd
#import API Banco Central do Brasil
import sgs

In [3]:
# code of the time series desired on source
IPCA_Code = 433

In [4]:
# import the time series using the API, it already comes as a pandas series
ipca_ts = sgs.time_serie(IPCA_Code,start='',end='')

In [5]:
# transform the series in a DataFrame
df = pd.DataFrame(data=ipca_ts)

In [6]:
# reset the index, because the API brings the information with de date as the index
df = df.rename_axis('index').reset_index()

In [7]:
# rename the columns to Date and Values
df = df.rename(columns = {'index':'Date', 433:'% Values'})

In [9]:
df.head()

        Date  % Values
0 1980-01-01      6.62
1 1980-02-01      4.62
2 1980-03-01      6.04
3 1980-04-01      5.29
4 1980-05-01      5.70