In [1]:
import json
import requests
import pandas as pd

In [25]:
api = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.4449/dados?formato=json'

In [26]:
response = requests.get(api)

In [27]:
print(response)

<Response [200]>

In [28]:
api_data = response.json()

In [29]:
df = pd.DataFrame(api_data)

In [32]:
df

           data  valor
0    01/01/1992  28.50
1    01/02/1992  29.94
2    01/03/1992  22.48
3    01/04/1992  19.35
4    01/05/1992  19.88
..          ...    ...
347  01/12/2020   2.04
348  01/01/2021  -0.29
349  01/02/2021   1.69
350  01/03/2021   2.81
351  01/04/2021   0.38

[352 rows x 2 columns]